aiohttp==3.11.11
aiofiles==23.2.1
albumentations==1.4.24
fastapi==0.115.6
gradio==5.9.1
matplotlib==3.10.0
numpy==1.26.3
opencv-python==4.10.0.84
pandas==2.2.3
pillow==10.2.0
pytorch-lightning==2.5.0.post0
scikit-learn==1.6.0
scipy==1.14.1
segmentation-models-pytorch==0.3.5.dev0
timm==0.9.7
torch==2.5.0+cu121
torchaudio==2.5.0+cu121
torchvision==0.20.0+cu121
uvicorn==0.34.0
